$color-white: #fff;
$color-purple: #5357c1;
$color-purple-transparent: #5357c145;
$color-purple-rgb: rgba(83, 87, 193, 0.9);
$color-purple-alpha-20: rgba(83, 87, 193, 0.2);
$color-purple-alpha-30: rgba(83, 87, 193, 0.3);
$color-purple-light: #8264f1;
$color-purple-logo: #d4d7fb;
$color-purple-dark: #eb443b30;
$color-pink: #fe5599;
$color-green: #0c8;
$color-green-10: #b9d686;
$color-green-50: #8bb426;
$color-green-transparent: #4d750945;
$color-green-100: #00bf9a30;
$color-gold: #f7b500;
$color-orange: #ff8317;
$color-black: #000000;
$color-grey-20: #f2f2f2;
$color-grey-30: #00000029;
$color-grey-50: #36414d;
$color-grey-60: #323232;
$color-grey-70: #707070;
$color-grey-40: #9ca7b3;
$color-red: #ec0808;
$color-red-light: #f76161;
$color-green-region: #8bb426;

$color-main: $color-green-region;
$color-main-transparent: $color-green-transparent;
$color-secondary: $color-white;
$color-text: $color-black;
$color-background: $color-white;
$color-header: $color-white;
$color-navbar: $color-white;

$header-height: 102px;
$admin-height: 112px;
$header-height: 102px;
$footer-height: 80px;

$breakpoints: (
  xs: 360px,
  sm: 768px,
  md: 1025px,
);

.t-popup {
  border-style: solid;
  border-width: 3px;
  border-color: $color-black;
  background-color: $color-secondary;
  box-shadow: 10px 5px 5px $color-grey-70;
  z-index: 2001;
  position: fixed;
  bottom: 40px;
  right: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 50%;
  transition: 0.3s all ease;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;

  &--open {
    height: 700px;
    width: 400px;
    border-radius: 16px;
    cursor: default;

    .t-popup__container {
      display: flex;
    }

    .t-popup__close {
      display: block;
    }
  }

  &__icon {
    position: absolute;
    width: 2em;
    height: 2em;
    top: 11px;
    right: 8px;
  }

  &__close {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
    position: absolute;
    top: -28px;
    right: -20px;
    float: right;
    background: white;
    border-radius: 50%;
    border: 1px solid black;

    i {
      top: 23px;
      position: relative;
      display: block;
      height: 2px;
      background: #6200ee;
      width: 30px;
      left: 10px;
    }

    i:nth-child(1) {
      transform: rotateZ(45deg);
    }
    i:nth-child(2) {
      transform: rotateZ(-45deg);
      top: 22px;
    }
  }

  &__container {
    position: relative;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
  }

  &__messages {
    // color: $color-main;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 92%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
  }

  &__message {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
    width: 180px;
    align-self: end;

    &--sender {
      align-self: start;
    }
  }

  &__text {
    border-radius: 8px;
    white-space: pre-wrap;
    display: table;
    position: relative;
    padding: 10px;
    background: #f4f4f4;

    &--sender {
      background-color: #6516dd;
      color: #fff !important;
    }
  }

  &__date {
    align-self: center;
    font-size: 11px;
    color: #a5a5a5;
  }

  &__send {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__button {
    background-color: $color-main;
    position: relative;
    border: none;
    border-radius: 7px;
    padding: 12px 24px;
    margin: 0 auto;
    color: $color-white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;

    svg {
      pointer-events: none;
    }
  }

  &__input {
    display: block;
    border: 1px solid;
    border-radius: 4px;
    width: 80%;
    max-height: 50px;
    min-height: 37px;
    overflow-y: auto;
    position: relative;
  }
}

.apos-notification--info .apos-notification__indicator__icon {
  color: #B28BEE !important;
  border-radius: 50%;
}
